div :nth-child(odd){
   text-align: center;
    display: inline-block;
    background-color: red;
    width: 50px;
    height: 25px;
position: relative;
border: 1px solid black;
}
div :nth-child(even){
    display: none;
    
}